<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.feyzullahefendi.akraarsiv">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>-->

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_arsiv"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_arsiv_rounded"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">

        <service
                android:name=".PlayService"
                android:exported="false">
        </service>

        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleInstance"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name=".NotificationBroadCastReceiver">
            <intent-filter>
                <action android:name="com.feyzullahefendi.akraarsiv.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>